<div class="ttb-bar">
  <button
    class="ttb-button cui-icon-play"
    *ngIf="!translateGO.isScanning()"
    (click)="start()"
  ></button>
  <button
    class="ttb-button bg-accent cui-icon-stop"
    *ngIf="translateGO.isScanning()"
    (click)="stop()"
  ></button>
  <button
    class="ttb-button cui-icon-edit {{ showToolDialog ? 'bg-dark' : '' }}"
    (click)="openToolDialog()"
  ></button>
  <select
    class="ttb-bar-select"
    [(ngModel)]="currentLanguage"
    (ngModelChange)="onLanguageSelected()"
  >
    <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
  </select>
  <button
    class="ttb-button small {{ showToolbar ? 'bg-dark' : '' }}"
    #ocButton
    (click)="openOrClose($event)"
  >
    {{ showToolbar ? "✖" : "❱" }}
  </button>
</div>
<tool-view [onSave]="onSave"></tool-view>
