<ng-template>
  <div class="ttb-dialog {{ over }}">
    <div
      [class]="getClassName()"
      [style.width]="width ? width : ''"
      [style.height]="height ? height : ''"
    >
      <div class="ttb-dialog-header">
        <span [innerHTML]="title"></span>
        <ng-content select="[dialogHeader]"></ng-content>
        <div class="close cui-icon-close" (click)="close()"></div>
      </div>
      <div class="ttb-dialog-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="ttb-dialog-toolbar">
    <ng-content select="[dialog-toolbar]"></ng-content>
  </div>
</ng-template>
