<div class="ttb-tab-header">
  <div class="ttb-tab-header-hover"></div>
  <div class="ttb-tab-prev">〈</div>
  <div class="ttb-tab-next">〉</div>
  <div class="ttb-tab-labels">
    <div
      #labels
      *ngFor="let tab of tabsRef; let i = index"
      class="{{ getLabelClass(tab) }}"
    >
      <div
        class="ttb-tab-label-text"
        (click)="active(i)"
        (touchstart)="active(i)"
      >
        <ng-container *ngIf="tab.label; else tab.labelRef">
          {{ tab.label }}
        </ng-container>
      </div>
      <ng-container *ngIf="tab.canClose()">
        <span class="ttb-tab-label-close" (click)="tab.doClose(i)"></span>
      </ng-container>
    </div>
  </div>
</div>
<div class="ttb-tab-body">
  <div class="ttb-tab-contents">
    <div *ngFor="let tab of tabsRef" class="{{ getContentClass(tab) }}">
      <ng-container *ngIf="tab.active">
        <ng-container *ngTemplateOutlet="tab.templateRef"> </ng-container>
        <ng-container *ngTemplateOutlet="tab.contentRef"> </ng-container
      ></ng-container>
    </div>
  </div>
</div>
