@import 'base/function';

.ttb-tab-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #eee;

  .ttb-tab-prev,
  .ttb-tab-next {
    position: absolute;
    top: 0;
    height: 100%;
    padding: .8em;
    background-color: #fff;
    z-index: 1;
    cursor: pointer;
  }

  .ttb-tab-prev {
    left: 0;
    @include box-shadow(2px 0px 3px #aaa);
  }

  .ttb-tab-next {
    right: 0;
    @include box-shadow(-2px 0px 3px #aaa);
  }

  .ttb-tab-labels {
    position: relative;
    display: inline-block;
    color: #ddd;
    white-space: nowrap;
    @include transition(transform .3s ease-in-out);

    .ttb-tab-label {
      position: relative;
      display: inline-block;
      font-size: 100%;
      letter-spacing: 3px;
      white-space: nowrap;
      cursor: pointer;
      @include transition;

      &.active {
        color: #00bcd4;
        font-weight: bold;

        &:after {
          @include transform(scale(1, 1));
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 2px;
        background-color: #00bcd4;
        @include transform(scale(0, 1));
        @include transition(transform .3s ease-in-out);
      }

      &.disabled {
        color: #ccc;
      }

      .ttb-tab-label-text {
        display: inline-block;
        margin: 10px 15px 10px 15px;
        pointer-events: none;
      }

      .ttb-tab-label-close {
        display: inline-block;
        vertical-align: top;
        font-size: 80%;
      }
    }
  }
}

.ttb-tab-body {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;

  .ttb-tab-contents {
    position: relative;
    display: flex;
    width: 100%;
    white-space: nowrap;
    @include transform(translateX(0%));
    @include transition(transform .3s ease-in-out);

    .ttb-tab-content {
      display: inline-block;
      width: 100%;
      height: 0;
      opacity: 0;
      flex-shrink: 0;
      pointer-events: none;
      white-space: normal;
      @include transition(opacity .3s ease-in-out);

      &.active {
        height: auto;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
