body {
  font-size: 1em;
  font-family: "Microsoft JhengHei", "黑体", "宋体", sans-serif;
  background-color: #fff;
  color: #262d38;
}

input,
textarea,
select,
button {
  font-size: 100%;
  font-family: "Microsoft JhengHei", "黑体", "宋体", sans-serif;
}

.space-1 {
  float: left;
  width: 100%;
  height: 10px;
}

.space-2 {
  float: left;
  width: 100%;
  height: 20px;
}

.space-3 {
  float: left;
  width: 100%;
  height: 30px;
}

.primary {
  color: $primary-color1
}

.accent {
  color: $primary-color2
}

.dark {
  color: $primary-color3
}

.bg-primary {
  background-color: $primary-color1
}

.bg-accent {
  background-color: $primary-color2
}

.bg-dark {
  background-color: $primary-color3
}

.cui-button {
  text-transform: initial;
}
