@import "base/function";
@import "base/themes";

translate-toolbar,
.ttb-overlay {
  @import "lib/cui/form";

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 1px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar-track-piece {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

  font-size: 1em;
  font-family: "Microsoft JhengHei", "黑体", "宋体", sans-serif;
  color: #262d38;

  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  form,
  input,
  button,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }

  *,
  *:after,
  *:before {
    @include box-sizing;
  }

  input,
  textarea,
  select,
  button {
    font-size: 100%;
    font-family: "Microsoft JhengHei", "黑体", "宋体", sans-serif;
  }

  .space-1 {
    float: left;
    width: 100%;
    height: 10px;
  }

  .space-2 {
    float: left;
    width: 100%;
    height: 20px;
  }

  .space-3 {
    float: left;
    width: 100%;
    height: 30px;
  }

  .primary {
    color: $primary-color1;
  }

  .accent {
    color: $primary-color2;
  }

  .dark {
    color: $primary-color3;
  }

  .bg-primary {
    background-color: $primary-color1;
  }

  .bg-accent {
    background-color: $primary-color2;
  }

  .bg-dark {
    background-color: $primary-color3;
  }

  .ttb-button {
    text-transform: initial;
  }

  .ttb-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 3px;
    z-index: 9999;
    display: inline-flex;
    background-color: #fff;
    @include box-shadow(
      0 1px 6px rgba(0, 0, 0, 0.12),
      0 1px 4px rgba(0, 0, 0, 0.24)
    );
    @include transform(translateX(0px));
    @include transition(transform 0.3s ease-in-out);
  }

  .ttb-bar-select {
    padding: 4px;
    min-width: 5em;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .ttb-space {
    float: left;
    width: 100%;
    height: 50px;
  }

  .ttb-grid {
    @include box-shadow(0 1px 2px #aaa);

    .repeat {
      background-color: #fce7ef;
    }
  }

  .ttb-grid-content {
    table {
      width: 100% !important;
    }
  }
}

@import "lib/cui/flex";
@import "lib/cui/grid-system";
@import "lib/cui/component/overlay";
@import "lib/cui/component/dialog";
@import "lib/cui/component/tab-group";
@import "lib/cui/component/grid";
@import "lib/cui/component/loader";
@import "lib/cui/icon";
